table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
  padding: 20px;
  text-align: center;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: gray;
    color: white;
}

tr:nth-child(even) a{
    color: white;
}

tr a {
    text-decoration: none;
    color: black;
}

tr a:hover {
    text-decoration: underline;
}

#add-car-link {
    margin-top: 50px;
    flex-basis: 35%;
    padding: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#add-car-link:hover {
    background-color: darkgray;
}

.add-form-div {
    flex-basis: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
